@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

.raid-background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: radial-gradient(
      rgba(54, 54, 54, 0.5),
      rgba(74, 74, 74, 0.1)
    ),
    url("/sanctum.jpg");
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
