@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/initial-variables";

$primary: $black;
$half-alpha-grey-darker: rgba($grey-darker, 0.5);
$half-alpha-grey-dark: rgba($grey-dark, 0.1);

.nathria-background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: radial-gradient($half-alpha-grey-darker, $half-alpha-grey-dark), url("/castle-nathria.jpg");
}

// stupid specificity
.text-white.text-white.text-white {
  color: $white;
}

@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/elements/_all";
@import "../../node_modules/bulma/sass/form/_all";
@import "../../node_modules/bulma/sass/components/_all";
@import "../../node_modules/bulma/sass/grid/_all";
@import "../../node_modules/bulma/sass/helpers/_all";
@import "../../node_modules/bulma/sass/layout/_all";
